header{
     z-index: 9999;
     color: #fff;
     position: fixed;
     width: 100%;
     a{color: #fff;}
     

          .navs{
               ul{
                    li{padding:0 10px;}
               }
          }
     
}